body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    text-align: center;
}

#textInput {
    resize: none;
    /* Запретить изменение размера */
    text-align: center;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}